<div class="metrics">
  <div class="metrics_header">
    <p class="as">Album Volume</p>
  </div>
  <div class="metrics_body">
    <%= image_tag(@nominee.song.album.profile_img, class: "album_img") %>
    <div class="metrics_text_container">
      <p class="metrics_text"><span class="stats">0</span> sold</p>
      <a href="#" class="btn as_btn" role="button"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> Order</a>
    </div>
  </div>
</div>
<div style="clear: both;"></div>
