<div class="metrics">
  <div class="metrics_header">
    <p class="pv">Votes</p>
  </div>
  <div class="metrics_body">
    <div class="gaon_img_container">
      <%= image_tag("http://imgh.us/mnet.jpg", width: "50%", class: "gaon_img") %>
    </div>
    <div class="metrics_text_container">
      <p class="metrics_text"><span class="stats"><%= number_with_delimiter(@nominee.mcountdown_ranking.mcountdown_votes, :delimiter => ',') %></span> votes</p>
      <a target="_blank" href="http://mwave.interest.me/mcountdown/vote/preVote" class="btn vote_btn" role="button"><span><i class="fa fa-heart" aria-hidden="true"></i></span> Vote</a>
    </div>
  </div>
</div>
