<div class="main-container">
  <p>Hi</p>
  <p>Hi</p>
  <p>Hi</p>

  <p>
    <strong>Listing Id:</strong>
    <%= @request.listing_id %>
  </p>

  <p>
    <strong>Customer Id:</strong>
    <%= @request.customer_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= @request.quantity %>
  </p>

</div>
