// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
}

.tab {
  overflow: hidden;
}

.tab button {
  background-color: #ccc;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border: 1px black solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #fff;
  border-bottom: none;
}

.tabcontent {
  display: none;
  margin-top: 50px;
}

#artiste-check.tabcontent {
  display: block;
}

.check-table td, .check-table th {
  border: 1px solid #1c1c1c;
}

.check-table th, .check-table tr {
  text-align: center;
}
