/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #d8d8d8;
  font-family: LucidaGrande;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0px;
   clear: both;
}

/*NavBar*/
.navbar {
  position: absolute;
  width: 100vw;
  height: 50px;
  background: #1c1c1c;
  top: 0;

}

.navbar:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #1c1c1c;
  
  border-top-width: 5vw; /* Triangle height */
  
  height: 10vw; /* Not really related */
  bottom: -10vw;
  
  border-left-width: 50vw;
  border-right-width: 50vw;
  border-bottom-style: none;

}

ul.topnav li a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  background-color: #555;
}

ul.topnav li.icon {
  display: none;
}

.awards_link {
   color: #ffe66b;
 }
 
.artistes_link {
   color: #6ccff6;
 }

.cart_link {
  color: #e34a6f; 
}

.session_link {
  color: #fefcff; 
}

@media screen and (max-width: 786px) {
  
  #logo_clear {
    display: none !important;
  }

  #myTopnav {
    padding: 0;
  }  

  ul.topnav li {
    display: none;
  }

  ul.topnav li.icon {
    float: left;
    display: inline-block;

  }

  .fa-bars {
    color: #fafaff;
  }

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    background-color: #1c1c1c;
    width: 150px;
    position: relative;
  }

  .logo-second {
    margin-top: 20px;
    width: 60%;
    min-width: 100px;
    max-width: 180px;
  }
  .navbar_items_logo_second {
    text-align: center;
    position: relative;
    z-index: 1;
    width: 20%;
    display: inline-block;
  }
  
  .navbar_collapsible {
    width: 40%;
    float: left;
  }
  
}



@media screen and (min-width: 786px) {

  ul.topnav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 60%;
    padding: 15px;
    position: relative;
    z-index: 1; 

  }

  ul.topnav li {
    float: left;
    width: 18%;
  }
  .navbar_items_logo {
    text-align: center;
    width: 28%;
  }

  .logo {
    width: 100%;
    min-width: 100px;
    max-width: 180px;
    margin-top: -10px;
  }


  .logo-second {
    display: none;
  }

  .navbar_collapsible {
    text-align: center;   
  }
}

/*MastHead*/
.masthead {
    margin: 0 0;
    max-width: 100%;
    max-height: 100%;
    margin-top: -25px;
}

/*SignUp*/
#sign_up_form{
  margin: 60px auto;
  position:relative;
  top: 30px;
  #title_sign_up {
    margin: 30px auto;
    text-align:center;
    clear:both;
    width: 694px;
    height: 77px;
    padding-top: 10px;
    padding-left: 30px;
    font-family: HanziPenSC-W5;
    font-size: 45px;
    color: rgba(74, 74, 74, 0.97);
  }
  .form-group {
    padding: 5px;
  }
  .radio  {
  padding-left: 5px;
  }
}
.btn_devise {
  .btn-primary {
  background-color: #e34a6f;
  border: none;
  }
}
.btn_facebook {
  .btn-primary {
  background-color: #3b5998;
  border: none;
  }
}
#edit_form {
  margin: 60px auto;
  padding: 0px;
  position:relative;
  top: 30px;
  #title_edit_form {
    margin: 20px auto;
    text-align:center;
    clear:both;
    width: 694px;
    height: 77px;
    padding-top: 10px;
    padding-left: 30px;
    font-family: HanziPenSC-W5;
    font-size: 45px;
    color: rgba(74, 74, 74, 0.97);
  }
  .form-group {
    padding: 5px;
  }
  .radio  {
  padding-left: 5px;
  }
}
#sign_in_form {
  margin: 60px auto;
  padding: 0px;
  position:relative;
  top: 30px;
  #title_login_form {
    margin: 20px auto;
    text-align:center;
    clear:both;
    width: 694px;
    height: 77px;
    padding-top: 10px;
    padding-left: 30px;
    font-family: HanziPenSC-W5;
    font-size: 45px;
    color: rgba(74, 74, 74, 0.97);
  }
  .form-group {
    padding: 5px;
  }
  .check_box span {
    margin-left: 5px;
  }
  .render {
    text-align: center;
  }
}

/*Footer*/
#footer {
  height: 50px;
  z-index: 0;
  p {
  margin-top: 15px;
  margin-left: 20px;
  color: #7a7a7a;
  font-size:12px;
  }
}