/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body {
	background: #d8d8d8;
	font-family: LucidaGrande;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0px;
   clear: both;
}

.logo {
	padding: 10px;
	text-align: center;

}

#sign_up_form{
	margin: 0 auto;
	#title_sign_up {
	  margin: 30px auto;
	  text-align:center;
	  clear:both;
	  width: 694px;
	  height: 77px;
	  padding-top: 10px;
	  padding-left: 30px;
	  font-family: HanziPenSC-W5;
	  font-size: 45px;
	  color: rgba(74, 74, 74, 0.97);
	}
	.form-group {
		padding: 5px;
	}
	.radio  {
	padding-left: 5px;
	}
}
.btn_devise {
	.btn-primary {
	background-color: #e34a6f;
	border: none;
	}
}
.btn_facebook {
	.btn-primary {
	background-color: #3b5998;
	border: none;
	}
}
#edit_form {
	margin: 0 auto;
	padding: 0px;
	#title_edit_form {
	  margin: 20px auto;
	  text-align:center;
	  clear:both;
	  width: 694px;
	  height: 77px;
	  padding-top: 10px;
	  padding-left: 30px;
	  font-family: HanziPenSC-W5;
	  font-size: 45px;
	  color: rgba(74, 74, 74, 0.97);
	}
	.form-group {
		padding: 5px;
	}
	.radio  {
	padding-left: 5px;
  }
}
#sign_in_form {
	margin: 0 auto;
	padding: 0px;
	#title_login_form {
	  margin: 20px auto;
	  text-align:center;
	  clear:both;
	  width: 694px;
	  height: 77px;
	  padding-top: 10px;
	  padding-left: 30px;
	  font-family: HanziPenSC-W5;
	  font-size: 45px;
	  color: rgba(74, 74, 74, 0.97);
	}
	.form-group {
		padding: 5px;
	}
	.check_box span {
		margin-left: 5px;
	}
	.render {
		text-align: center;
	}
}

#footer {
  height: 50px;
  z-index: 0;
  p {
  margin-top: 15px;
  }
}