// Place all the styles related to the award_nominations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.metrics_header {
  text-align: center;
  background-color: #1c1c1c;
  width: 100%;
  border-radius: 5px;
}

.metrics_container {
  margin-top: 50px;
}

.metrics {
	width: 100%;
	height: 350px;
}

.ds {
  color: #ffe66b;
  font-size: 1.5em;
  margin: 0;
}

.as {
  color: #6ccff6;
  font-size: 1.5em;
  margin: 0;
}

.yv {
  color: #e34a6f;
  font-size: 1.5em;
  margin: 0;
}

.pv {
  color: #fafaff;
  font-size: 1.5em;
  margin: 0;
}