// Place all the styles related to the awards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear {
    clear: both;
}

/*Award Index*/
#box-header {
  font-size: 30px;
  padding: 10px;
  float: left;
}

.search-container {
  text-align: right;
}

#search-field {
  border-radius: 20px;
  width: 200px;
  text-align: left;
  border: #c3c3c3 solid 1px;
  outline: none;
  font-size: 12px;
  padding: 4px 8px;

}

.fa-search {
  background: none;
  border: none;
  outline: none;
  margin-left: -30px;
}

.award-container {
  margin: 50px 0;
}

.award-item-container {
  text-align: center;
  padding: 5px;
  margin: 0 auto 20px;
  width: 100%;
  height: 230px;
}

.award-item-container a,
.award-item-container a:hover {
  text-decoration: none;
  color: #1c1c1c;
}

.award-logo {
  width: 200px;
  height: 150px;
  box-shadow: 0 1px 2px 0 rgba(74,74,74,0.97);
  margin: 5px;
}

#date-picker {
  float: right;
  margin: 50px 0;
}

/*Ranking Board*/
.ranking-board-container {
  min-width: 800px;
}

.ranking_board_header {
  text-align: center;
}

.award-profile {
  text-align: center;
}

.flex-bar {
  margin: 0.5em 0 1em;
  background: #ccc;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  border-radius: 50px;
  overflow: hidden;
  height: 1.5em;
  color: #ddd;
  width: 250px;
  &--item {
    height: 0%;
    display: block;
    align-self: stretch;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, .15);
  }
}

#ranking-ajax {
  margin: 50px 0 0;
  border: none;
}

#ranking-ajax th {
  padding: 20px 0;
  font-size: 2rem;
}

#ranking-ajax th, tr {
  text-align: center;
}

#ranking-ajax .nominee-col {
  text-align: left;
}

#ranking-ajax td {
  border-bottom: 1px solid #1c1c1c;
  padding: 30px 20px;
}

.nomination_link,
.nomination_link:hover {
  text-decoration: none;
  color: #1c1c1c;
}

.aggregate_score {
  font-size: 1.8em;
  font-weight: bold;
}

.fa-chevron-right {
  font-size: 1.5em !important;
}

.artiste-profile {
  width: 200px;
  height: 150px;
}



