// Place all the styles related to the awards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_page {
  width: 100%;
  margin: 10px auto 0px;
  background-color: #d8d8d8;
  @media(max-width: 767px) {
  img {
  height: 162px;
  width: 100%
    }
  }
  .main-content {
  width: 80%;
  margin: 50px auto 100px;
  box-shadow: 0 1px 3px 1px rgba(0, 2, 3, 1);
  background-color: #fff;
  .sort_search {
  margin: 30px;
  padding-top: 30px;
  position:relative;
  height: 80px;
  #sort_field {
    font-size: 20px;
    padding:10px;
    width: 45%;
    float: left;
    span {
    font-size: 12px;
    .btn-xs {
    width: 100px;
    text-align: left;
    font-size: 10px;
    }
    }
  }
  #search_field {
  	padding:10px;
    width: 40%;
    float: right;
    text-align: right;
  }
 }
  #awards {
  max-width: 100%;
  margin: 0 auto;
  position:relative;
  display: block;
  .row {
  margin: 10px auto 100px;
  text-align: center;
  .box{
    padding:5px;
    margin: 0 auto 20px;
    width: 200px;
  img {
      max-width: 100%;
      height: 150px;
      box-shadow: 0 1px 2px 0 rgba(74, 74, 74, 0.97);
      margin:5px;
      }
  h4 {
  text-align: left;
    }
  }
  }
}
}
}

.main-box {
  width: 80%;
  margin: 50px auto 100px;
  box-shadow: 0 1px 3px 1px rgba(0, 2, 3, 1);
  background-color: #fff;
  padding: 40px;
}

.award-profile {
  text-align: center;
}

.flex-bar {
  margin: 1em;
  background: #ccc;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  border-radius: 7px;
  overflow: hidden;
  height: 1.5em;
  color: #ddd;
  width: 70%;
  &--item {
    height: 0%;
    display: block;
    align-self: stretch;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, .15);
  }
}

.ranking_container {
  padding: 50px;
  margin-top: 100px
}

.ranking_item {
  margin-bottom: 20px;
}

.ranking {
  text-align: center;
}

.ranking-no {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.artiste_name {
  font-weight: bold;
  font-size: 1.5em;
}

.dropdown-menu {
  font-size: 0.8em !important;
  padding: 10px !important;
}

.btn {
  width: 160px;
}

.voting_period {
  margin: 10px 0;
}

.nomination_link,
.nomination_link:hover {
  text-decoration: none;
  color: #1c1c1c;
}

